@tailwind base;
@tailwind components;
@tailwind utilities;
* { box-sizing: border-box; }
body { background: #090B10; color: white; }
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: #0f1117; }
::-webkit-scrollbar-thumb { background: #374151; border-radius: 2px; }
